* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

header {
    text-align: center;
    font-size: 2rem;
    color: white;


    @include for-phone-only {
    padding: 5px;
    background-color: #0d8b63;
    transition: all 0.5s ease-in-out;
    color: black;
    }
    @include for-tablet-portrait {
    padding: 5px;
    background-color: #4a85eb;
    transition: all 0.5s ease-in-out;
    }
    @include for-desktop {
    background-color: #5c46d8;
    transition: all 0.5s ease-in-out;
    padding: 5;
    }
}